# Dependencies
node_modules

# Build outputs
dist
out

# Development
.DS_Store
.eslintcache
*.log*

# Environment variables
.env
.env.local
.env.*.local

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea

# OS
Thumbs.db

# Electron
*.tsbuildinfo
