@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('../assets/fonts/DancingScript-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url('../assets/fonts/DancingScript-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 600;
  font-display: block;
  src: url('../assets/fonts/DancingScript-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 700;
  font-display: block;
  src: url('../assets/fonts/DancingScript-Bold.ttf') format('truetype');
}

